@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
}
body{
    background-color: rgb(192, 192, 192);
}
#container{
    width: 94%;
    max-width: 700px;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}
#container > div{
    display: flex;
    padding: 5px 10px;
    margin-top: 15px;
    border-radius: 10px;
}
.noti{
    justify-content: space-between;
    align-items: center;
}
button{
    background-color: hsl(219, 85%, 26%);
    padding: 2px 8px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
img{
    width: 50px;
    height: 50px;
}
.unread{
    background-color:hsl(210, 60%, 98%);
}
.section{
    margin-left: 15px;
}
.name{
    font-weight: 700;
}
.blueBg{
    color: hsl(219, 85%, 26%);
    font-weight: 700;
}
.greyBg{
    color: hsl(219, 12%, 42%);
    font-weight: 700;
}
article{
    padding: 10px;
    border: 2px solid hsl(210, 60%, 98%);
    margin: 10px 0;
    border-radius: 10px;
}
.chess{
    margin-left: auto;
}
.red{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: hsl(1, 90%, 64%);
}


